<!DOCTYPE html>
<html lang="en">
<head>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Dashboard</title>
  <%= javascript_pack_tag 'application' %>
</head>
<body>
  <div class="container">
    <%= react_component("Chart", { data: "Hello from react-rails." }) %>
  </div>
</body>
</html>
